<div *ngIf="products.length === 0">
  <!-- <div class="center" style="margin-top: 100px;"> -->
  <div class="empty-cart-message">
    <h2>There is nothing in shopping cart</h2>
  </div>
</div>

<div *ngIf="products.length > 0">
  <div class="row">
    <div class="col-md-6 mt-2">
      <div *ngFor="let product of products" class="mt-2">
        <div class="row">
          <div class="col-md-4">
            <img src="{{product.url}}">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                <div>{{product.name}}</div>
                <div>{{product.price}}$</div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <input type="number" class="form-control" name="quantity" [(ngModel)]="product.quantity">
                  </div>
                  <div class="col-md-4">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-success" (click)="increaseQuantity(product)"><i
                            class="fa-solid fa-plus"></i></button>
                        <button type="button" class="btn btn-success" (click)="decreaseQuantity(product)"><i
                            class="fa-solid fa-minus"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 mt-2">
      <div class="row">
        <div>
          <label>Full name</label>
          <input class="form-control" id="name" name="name">
        </div>
        <div>
          <label>Address</label>
          <input class="form-control" id="address" name="address">
        </div>
        <div>
          <label>Credit card number</label>
          <input class="form-control" id="creditCard" name="creditCard">
        </div>
        <div style="color:gray;font-size:11px; margin-top: 5 px;">
          We will nerver share your payment details with anyone else
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <label>
      <h3>Total amount</h3>
    </label>
    <div>
      <h3>{{calcuateTotalAmount()}}$</h3>
    </div>
  </div>
</div>