<div *ngIf="products.length === 0">
  <!-- <div class="center" style="margin-top: 100px;"> -->
  <div class="empty-cart-message">
    <h2>There is nothing in shopping cart</h2>
  </div>
</div>

<div *ngIf="products.length > 0">
  <div class="row">
    <div class="col-md-6 mt-2">
      <div *ngFor="let product of products" class="mt-2">
        <app-product-item-detail [product]="product" (products)="onProductRemoved($event)"></app-product-item-detail>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 mt-2">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div class="row">
          <div>
            <label>Full name</label>
            <input class="form-control" formControlName="name">
          </div>
          <div class="danger"
            *ngIf="myForm?.get('name')?.invalid && (myForm?.get('name')?.dirty || myForm?.get('name')?.touched)">
            Name is required
          </div>
          <div>
            <label>Address</label>
            <input class="form-control" formControlName="address">
          </div>
          <div class="danger"
            *ngIf="myForm?.get('address')?.invalid && (myForm?.get('address')?.dirty || myForm?.get('address')?.touched)">
            Address is required
          </div>
          <div>
            <label>Credit card number</label>
            <input class="form-control" formControlName="creditCard">
          </div>
          <div class="danger"
            *ngIf="myForm?.get('creditCard')?.invalid && (myForm?.get('creditCard')?.dirty || myForm?.get('creditCard')?.touched)">
            Credit card number must be 16 characters long.
          </div>
          <div style="color:gray;font-size:11px;margin-top:9px;">
            We will nerver share your payment details with anyone else
          </div>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
          <button type="button" class="btn btn-primary m-2" (click)="cancelOrder()">Cancel Order</button>
        </div>
      </form>

    </div>
  </div>

  <div class="row mt-4">
    <label>
      <h3>Total amount</h3>
    </label>
    <div>
      <h3>{{calcuateTotalAmount()}}$</h3>
    </div>
  </div>
</div>