.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

.img-border{
  border: 3px solid #1c87c9;
  padding: 15px;
}